*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-spacing: 0;
    box-sizing: border-box;
}


input{
    height: calc(100vh / 10);
    width: calc(100vh / 10);
    background-color: rgb(170, 214, 212);
    appearance: textfield;
    font-size: 7vh;
    
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
}

tr{
    border-bottom: 1px solid rgb(255, 243, 243);
    display: block;
}

td{
    border-right: 1px solid rgb(255, 243, 243);
    
}

tr:nth-of-type(3),
tr:nth-of-type(6){
    border-bottom: 1px solid black;
}

td:nth-of-type(3),
td:nth-of-type(6){
    border-right: 1px solid black;
}

button{
    display: block;
    margin: 1em auto;
    padding: .5em 2em;
    font-size: 3vh;
}

input:invalid,
.invalide {
    border: 1px solid red;
    background-color: rgb(206, 140, 140);
}